<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DPLA Oracle</title>
<link rel="stylesheet" type="text/css" href="cuttr.css" />
<link rel="stylesheet" type="text/css" href="{{ static_url }}cuttr.css" />
</head>

<body>

	<header><h1>cuttr</h1></header>
	
    <div class="askQuestion">
    	<h2>Ask a question</h2>
        <form action="">
        <label>
        	<textarea rows="4" cols="75"><input type="text" name="question" /></textarea><br />
        	<input type="submit" value="submit" />
        </label>
        </form>
    	<div class="button"><a href="questionpage.html">Browse Questions</a></div>
    </div>

	<footer></footer>


</body>
</html>
