<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="cuttr2.css" />
<title>cuttr</title>

</head>
</head>

<body>

<div class="container">
 
  <div class="content">
    <form id="form1" name="form1" method="post" action="">
      <label>
        <textarea name="askQuestion" cols="20" rows="10" id="askQuestion">Were there really aliens in Roswell?</textarea>
      </label>
      <input type="submit" name="submit" id="submit" value="Ask A Question &gt;&gt; " />
    </form>

    <!-- end .content --></div>
  <div class="footer">
   
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>


</html>
