@charset "UTF-8";
/* CSS Document */

body {
	border: 1px black solid;
	color:#000;
	background-color:#101010;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	width:960px;
	border:1px solid #000;
	padding:20px;
	margin:auto;
}

header {
	
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;	
}

a {
	color: #36F;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.nav {
	width:100%;
	min-height:100px;
	padding-bottom:15px;
}

.askQuestion .button nav {
	float:left;	
	display:inline;
	width:50%;
}

.button {
	display:block;
	padding: 5px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:10em;
	text-align:center;
}


.content {
	padding:15px;
	border:1px solid #ccc;
}

.questionBox {
	padding:10px;
	border:1px solid #ccc;
	min-height:40px;
}

.commentBox {
	padding:10px;
	border:1px solid #ccc;
	min-height:40px;
}

.comment {
	padding:10px;
	border:1px solid #ccc;
	min-height:40px;
	margin: 35px 15px 15px 15px;
	background-color:#ebebeb;
}

.user {
	float:left;
	border:1px solid #ccc;
	margin-right: 10px;
}

.question {
	text-align:left;
}



ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; }
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 	text-decoration: none;
}


.container {
	width: 200px;
	background: #000;
	margin: 0 auto; 
	padding: 10px;
	border: 2px solid #999;
}


label {
	font-variant: small-caps;
	padding-bottom: 10px;
}
input {
	margin-bottom: 10px;
}
.container .content #form1 label #askQuestion {
	font-style: italic;
}


.content {

	padding: 10px 0;
}


.footer {
	padding: 10px 0;
	background: #000;
}
.container .content #form1 #submit {
	color: #fff;
	background-color: #222;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
