<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>cuttr | Question Page</title>
<link rel="stylesheet" href="cuttr.css" />
</head>

<body>

	<header><h1>cuttr</h1></header>
    
    <!--Top Nav-->
    <div class="nav">
        <div class="askQuestion">
            <h2>Ask a question</h2>
            <form action="">
            <label>
            	<textarea name="textarea" rows="1" cols="50">Type your question here</textarea>
                <!-- <textarea rows="1" cols="50"><input type="text" name="question" /></textarea><input type="submit" value="submit" /> -->
            </label>
            </form>   
        </div>
        
        <div class="button"><a href="">Browse Questions</a></div>
     </div>

	<!--Top Questions
    Repeat "questionBox" for however many questions we want to appear-->
    <div class="content">
    	<div class="questionBox">
        	<div class="user"><a href="#userprofile"><img src="#avatar" alt="#username#" /></a></div>
            <div class="question"><a href="#questionpage">This is a question</a></div>
        </div>
    </div>


</body>
</html>
