<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>cuttr | Question Page</title>
<link rel="stylesheet" type="text/css" href="cuttr.css" />
<link rel="stylesheet" type="text/css" href="{{ static }}cuttr.css" />
</head>

<body>

	<header><img src="images/cuttr_logo.png" /></header>
    
    <!--Ask A Question-->
	<div class="mainContent">
        <div class="askQuestion">
            <h2>Ask a question</h2>
            <form action="">
            <label>
            	<textarea name="textarea" rows="1" cols="50">Type your question here</textarea><input type="submit" value="submit" /> 

            </label>
            </form>   
        </div>

    <div class="content">
    <h2>Browse Questions</h2>

        {% for question in questions %}
            <div class="questionBox">
                <div class="user"><img src="{% if question.user.profile.librarian %}{{ static}}images/librarian_avatar.jpg{% else %}{{ static }}images/generic_avatar.jpg{% endif %}" alt="{{ question.user.username }}" width="60" height="60" /></div>
                <div class="question"><a href="{% url question_id=question.id question_text=question.text %}">This is a question</a></div>
            </div>
        {% endfor %}


    </div>
</body>
</html>
